<h3>Recentely Added Books</h3>
<div>
  <% books.forEach(book=>{ %>
  <a href="/books/<%= book.id %>"
    ><img
      width="100"
      height="150"
      src="<%= book.coverImagePath %>"
      alt="bookCoverImage"
  /></a>
  <% }) %>
</div>
