.btn {
  text-decoration: none;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  background-color: var(--btn-color-primary);
  margin: 1rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: var(--btn-color-primary-hover);
}
.btn-danger {
  background-color: var(--btn-color-danger);
}
.btn:hover {
  scale: 1.1;
}
.btn-danger:hover {
  background-color: var(--btn-color-danger-hover);
}
