<h3>New Author</h2>
<form action="/books" method="post">
  <!-- enctype="multipart/form-data"  -->
  <%- include("./_form_fields.ejs") %>
  <a href="/books">
    <button class="btn btn-primary" type="button">Cancel</button>
  </a>
  <button class="btn btn-primary" type="submit">Create</button>
</form>
